<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'add_task.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>THÊM CÔNG VIỆC</h1>
        <input type="text" name="title" placeholder="Tên công việc" required>
        <textarea type="text" name="description" placeholder="Mô tả công việc" required></textarea><br>
        <input type="datetime-local" name="deadline" required>
        <select name="priority">
            <option value="high">Cao</option>
            <option value="medium">Trung bình</option>
            <option value="low">Thấp</option>
        </select>
        <button type="submit">Thêm công việc</button>
    </form>
    

</body>
</html>