{% load static %} <!-- Tải thư viện static -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"> <!-- Đường dẫn đến tệp CSS -->
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}" class="register-link">Register here</a></p>
    </div>
</body>
</html>
